main {
  padding-top: 50px;
}

.card .card-body > * {
  margin: 5px 0;
}
.card .card-body .card-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.card .card-body .card-img-full {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.card .card-body .btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.archive .search-title > * {
  display: block;
  margin: 15px 0;
}
.archive .post-list > * {
  margin-bottom: 20px;
}
